:root {
  --basic-black: #000000;
  --basic-white: #FFFFFF;
  --basic-blue-text: #81B3D3;
  --basic-blue-back: #81B3D2;
  --basic-gray-text: #333333;
  --basic-gray-back: #EEEEEE;
  --basic-gray-input: #F2F2F2;

  --nav-link-rest: #000000;
  --nav-link-hover: #81B3D2;
  --nav-link-active: #766357;

  --search-button-rest: #766357;
  --search-button-hover: #604E43;
  --search-button-focus: #503E33;
  --search-button-text-focus: rgba(255, 255, 255, 0.3);

  --footer-back: rgba(255, 255, 255, 0.9);

  --filter-back: #7f7f7f;
  --filter-text: #FFFFFF;
  --filter-button-text-hover: #000000;
  --filter-button-back-hover: #FFFFFF;

  --results-text:  #000000;
  --results-text-gray: #333333;
  --results-rate-text: #666666;
  --results-rate-back: rgba(242,242,242,1);
  --sort-text-active: #81B3D2;
  --sort-text-focus: #000000;
  --results-hotel-title: #000000;
  --results-hotel-title-hover: #81B3D2;
  --results-hotel-title-focus: #000000;
  --results-button-text: #FFFFFF;
  --results-button-text-press: rgba(255,255,255,0.3);
  --results-button-back-details: #81B3D2;
  --results-button-back-details-hover: #669EC0;
  --results-button-back-details-focus: #5496BD;
  --results-button-back-book: #766357;
  --results-button-back-book-hover:#604E43;
  --results-button-back-book-focus:#503E33;

  --sort-button-text: rgba(0,0,0,0.3);
  --sort-button: #CACACA;
  --sort-button-hover: #000000;
  --sort-button-focus: #81B3D2;
  --sort-button-active: #81B3D2;
  --sort-button-underline: rgba(129,179,210,1);

  --range-line-gray: rgba(255, 255, 255, 0.3);
  --range-line-white: rgba(255, 255, 255, 1);
  --range-toggle-big: white;
  --range-toggle-small: #ABABAB;
  --range-toggle-shadow: rgba(171, 171, 171, 0.3);

  --hotels-lines: #E5E5E5;

  --social-back:#81B3D2;
  --social-back-hover: #669EC0;
  --social-back-focus: #5496BD;
  --social-image: rgba(255,255,255,1);
  --social-image-focus: rgba(255,255,255,0.5);

  --logo: black;
  --logo-hover: #81B3D2;
  --logo-focus: #EBEBEB;

  --modal-shadow: rgba(0, 1, 1, 0.15);
  --modal-input-back: #F2F2F2;
  --modal-input-back-hover:#EBEBEB;
  --modal-input-back-focus: #FFFFFF;
  --modal-input-border-focus: #E5E5E5;
  --modal-button-hover: #000000;
  --modal-button-press: #81B3D2;
  --modal-search-back: #81B3D2;
  --modal-search-back-hover: #669EC0;
  --modal-search-back-press: #5496BD;
  --modal-search-text-press: rgba(255,255,255,0.3);
}

* {
  box-sizing: border-box;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

/* Page */

.page-body {
  width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  box-shadow: 0px 7px 15px var(--modal-shadow);
}

/* Main header */


/* Navigation */

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.main-header-logo {
  margin-top: -57px;
  margin-bottom: -14px;
  height: 70px;
  justify-self: center;
  z-index: 1;
  order: 1;
  cursor: pointer;
}

.main-header-bar {
  background-color: var(--basic-white);
  display: flex;
  padding-top: 14px;
  padding-bottom: 17px;
}

.main-navigation-wrapper {
  width: 1200px;
  margin: auto;
  padding: 0;
}

.site-navigation {
  margin-left: 73px;
  margin-right: 72px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.site-navigation li {
  display: flex;
  align-items: center;
}

.site-navigation li:nth-child(2) {
  margin-left: 133px;
}



.site-navigation li:nth-child(4) {
  margin-right: 0;
  margin-left: 0;
}

.site-navigation li:nth-child(3) {
  margin-right: 147px;
  margin-left: auto;
}




.site-navigation a {
  color: var(--nav-link-rest);
  font-weight: bold;
  text-align: center;
  vertical-align: center;
  cursor: pointer;
}

.site-navigation a:hover {
  color: var(--nav-link-hover);
}

.site-navigation a:focus,
.site-navigation a:active {
  color: var(--nav-link-rest);
  opacity: 0.3;
}

a.site-navigation-current {
  color: var(--nav-link-active);
}

.page-body h1 {
  display: block;
  height: 80px;
  width: 470px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 42px;
  margin-bottom: 16px;
  font-size: 21px;
  line-height: 26px;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  align-items: center;
}

.welcome-background {
  height: 509px;
  width: 1200px;
  background-image: url(../img/background.jpg);
}

.welcome-background::after {
  display: block;
  content: "";
  width: 1200px;
  height: 57px;
  background-image: url(../img/back-border.svg);
  margin-top: 24px;
}

.welcome-title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 77px;
}

/* Features */

.features>p {
  margin-top: 0;
  margin-bottom: 51px;
  line-height: 26px;
  color: var(--basic-gray-text);
  text-align: center;
  align-items: center;
}

.features-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 586px 256px 256px;
  margin: 0;
  padding: 0;
}

.features-item {
  text-align: center;
  align-items: center;
}

.features-item h3 {
  margin-top: 47px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 21px;
}

.features-item p {
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 25px;
}

.features-list .features-item:nth-of-type(1) p {
  margin-left: 48px;
  margin-right: 48px;
}

.features-list .features-item:nth-of-type(4) p {
  margin-left: 68px;
  margin-right: 68px;
}

.features-item-big {
  grid-column-start: 1;
  grid-column-end: -1;
}

.features-item-big.first {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 256px 330px;
}

.features-item-big.first .features-background-street {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: -1;
}

.features-item-big.first .advices-list {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 2;
  grid-row-end: -1;
}

.features-item-big.second {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.features-item-big.second .features-background-rock {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}




.features-item:nth-child(1),
.features-item:nth-child(2) {
  background-color: var(--basic-blue-back);
  color: var(--basic-white);
}

.features-item {
  background-color: var(--basic-gray-back);
  color: var(--basic-gray-text);
}

.features-item:nth-child(3) h3,
.features-item:nth-child(4) h3,
.features-item:nth-child(5) h3 {
  color: var(--basic-black);
}

.features-item h3 {
  font-size: 21px;
  font-weight: bold;
}

/* Advices */

.advices-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
}

.advices-item {
  text-align: center;
  align-items: center;
  padding-left: 70px;
  padding-right: 70px;
  margin-top: 60px;
  margin-bottom: 82px;
}

.advices-list .advices-item:nth-child(2) {
  margin-top: 61px;
  padding-left: 50px;
  padding-right: 50px;
}

.advices-list .advices-item:last-child {
  margin-top: 55px;
  padding-left: 60px;
  padding-right: 60px;
}

.advices-item h3 {
  font-size: 21px;
  font-weight: bold;
  margin-top: 21px;
  margin-bottom: 26px;
}

.advices-item p {
  color: var(--basic-gray-text);
}

/* Offer */

.offer {
  text-align: center;
  align-items: center;
}

.offer-question {
  margin: 0;
  font-size: 30px;
  line-height: 24px;
  font-weight: bold;
  padding-top: 56px;
  padding-bottom: 20px;
}

.offer-text {
  margin: 0;
  margin-top: 10px;
  padding-bottom: 43px;
  line-height: 26px;
}

/* Search */

.search {
  text-align: center;
  position: relative;
  width: 568px;
  margin: 0 auto;
}

.search-button {
  all: unset;
  color: var(--basic-white);
  text-align: center;
  align-items: center;
  background-color: var(--search-button-rest);
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  box-shadow: none;
  border: none;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  cursor: pointer;
}

.search-button:hover {
  background-color: var(--search-button-hover);
}

.search-button:active {
  background-color: var(--search-button-focus);
  color: var(--search-button-text-focus);
}

.search-button:focus {
  outline: var(--basic-black) solid 3px;
}

/* Map */

.map {
  background-color: var(--basic-gray-back);
  margin-bottom: -125px;
}

/* Footer */

.page-footer {
  background-color: var(--footer-back);
}

.main-footer {
  padding: 0;
  margin: 0;
  /* margin-top: -125px; */
}

.main-footer .container {
  display: grid;
  margin: auto;
  grid-template-columns: 1fr 400px 1fr;
  height: 120px;
}

.footer-contacts {
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  justify-self: center;
  display: flex;
  flex-direction: column;
  margin-left: 72px;
}

.footer-hashtag {
  align-items: center;
  color: inherit;
  margin-top: 23px;
  cursor: pointer;
}

.footer-phone {
  color: inherit;
  margin-top: 9px;
  cursor: pointer;
}

.footer-social {
  align-items: center;
  display: flex;
}

.social-list {
  list-style: none;
  margin: auto;
  padding: 0;
  display: flex;
}

.social-button {
  color: inherit;
  width: 46px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--social-back);
  margin-right: 6px;
  cursor: pointer;
}

.social-button:hover {
  background-color: var(--social-back-hover);
}


.social-button:focus {
  background-color: var(--social-back-focus);
}

.social-button:focus svg path{
  fill: var(--social-image-focus);
}



.social-list li:last-of-type .social-button {
  margin-right: 0;
}

.social-button svg path {
  fill: var(--basic-white);
}

.footer-logo {
  margin-right: 72px;
  justify-self: center;
  display: flex;
}

.footer-logo-text {
  line-height: 26px;
  margin-right: 8px;
  margin-top: 48px;
}

.footer-logo-button {
  margin-top: 39px;
  cursor: pointer;
  margin-bottom: auto;
}

.footer-logo-button:hover svg path {
  fill: var(--logo-hover)
}

.footer-logo-button:focus svg path {
  fill: var(--logo-focus)
}

/***** Hotels *****/

/* Filter */

.filter {
  background-color: var(--filter-back);
  background-image: url(../img/background-filter.jpg);
  height: 217px;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
}

.filter-features {
  margin-left: 72px;
  padding-top: 26px;
}

.filter-type {
  margin-left: 26px;
  padding-top: 26px;
}

.filter-label {
  color: var(--filter-text);
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-list li {
  margin-top: 25px;
}

.filter-item {
  padding-left: 40px;
}

.filter-item .title {
  color: var(--filter-text);
}

.filter-item .check-box {
  position: absolute;
  margin-left: -40px;
  width: 2em;
  height: 2em;
  background-repeat: no-repeat;
  background-image: url(../img/checkbox-off.svg);
  cursor: pointer;
}

.filter-item input:focus + .check-box {
  outline: var(--basic-gray-back) solid 3px;
}

.filter-item input:checked + .check-box {
  background-image: url(../img/checkbox-on.svg);
}

.filter-item input:disabled + .check-box {
  background-image: url(../img/checkbox-off-dis.svg);
}

.filter-item input:checked:disabled + .check-box {
  background-image: url(../img/checkbox-on-dis.svg);
}

.filter-price {
  display: flex;
  flex-direction: column;
  padding-top: 26px;
  width: 318px;
  margin-left: 200px;
  border: none;
}

.filter-price-range {
  margin-top: 11px;
  /* height: 32px; */
  width: 317px;
  display: flex;
  border: 2px solid var(--basic-white);
}

.filter-price-from,
.filter-price-to {
  color: var(--filter-text);
  margin-top: 5px;
  margin-bottom: 6px;
  margin-left: 65px;
  display: flex;
  width: 100%;
  border: none;
  outline: none;
}

.filter-price-to {
  margin-left: 42px;
}

.filter-price-from:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 23px;
  background-color: var(--basic-white);
  margin-left: 92px;
}


.filter-price-from input,
.filter-price-to input {
  color: var(--basic-white);
  margin: 0;
  margin-left: 2px;
  padding: 0;
  width: 40px;
  font-family: inherit;
  font-size: inherit;
  border: none;
  outline: none;
  text-align: start;
  background: transparent;
}

.filter-price-from input::-webkit-outer-spin-button,
.filter-price-from input::-webkit-inner-spin-button,
.filter-price-to input::-webkit-outer-spin-button,
.filter-price-to input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    border: none;
    outline: none;
}

[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  z-index: 1;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  appearance: text
  }

.filter-price-from input[type='number'],
.filter-price-to input[type='number'] {
    -moz-appearance: textfield;
    border: none;
    outline: none;
}

.range-control {
  width: 316px;
  margin-top: 20px;
  position: relative;
}

.range-control .scale {
  height: 2px;
  background: var(--range-line-gray);
}

.range-control .bar {
  height: 2px;
  width: 262px;
  background: var(--range-line-white);
}

.range-control .toggle {
  outline: none;
  width: 19px;
  height: 19px;
  background: var(--range-toggle-small);
  border-radius: 50%;
  border: 8px solid var(--range-toggle-big);
  box-shadow: 0 2px 0 0 var(--range-toggle-shadow);
  position: absolute;
  top: -9px;
  left: 0;
  cursor: pointer;
}

.range-control .toggle:hover {
  transform: scale(1.2);
}

.range-control .toggle:focus {
  outline: var(--basic-gray-back) solid 3px;
}

.range-control .toggle-min {
  left: 0;
}

.range-control .toggle-max {
  left: 252px;
}

.filter-button-submit {
  all: unset;
  color: var(--filter-text);
  border: 2px solid var(--basic-white);
  text-align: center;
  align-items: center;
  width: 133px;
  height: 32px;
  margin-left: 85px;
  cursor: pointer;
  margin-top: 33px;
  justify-self: center;
}

.filter-button-submit:hover {
  color:var(--filter-button-text-hover);
  background-color: var(--filter-button-back-hover)
}

.filter-button-submit:focus {
  outline: var(--basic-gray-back) solid 3px;
}

/* Results sort */

.results-sort {
  display: grid;
  grid-template-columns: 135px 80px 1fr 50px;
  column-gap: 29px;
  border-bottom: 1px solid var(--hotels-lines);
  padding-top: 29px;
  padding-bottom: 31px;
  padding-left: 73px;
  padding-right: 73px;
}

.results-found {
  color: var(--results-text);
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  align-items: center;
  margin: 0;
  padding: 0;
}

.results-sort-title {
  color: var(--results-text);
  font-size: 12px;
  line-height: 18px;
  align-items: center;
  margin: 0;
  margin-top: 2px;
  padding: 0;
}

.results-sort-list {
  list-style: none;
  display: flex;
  margin: 0;
  margin-left: 6px;
  padding: 0;
}

.results-sort-item {
  padding: 0;
  margin: 0;
  margin-right: 32px;
  cursor: pointer;
}

.results-sort-item .title {
  color: var(--sort-button-text);
  font-size: 12px;
  line-height: 18px;
  align-items: flex-start;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  border-bottom: 1px dashed var(--sort-button-underline);
}

.results-sort-item:hover .title,
.results-sort-item input:checked + .title {
  color: var(--sort-text-active);
  opacity: 1;
}

.results-sort-item:focus .title {
  outline: var(--basic-black) solid 3px;
}

.results-sort-item input:checked + .title {
  border-bottom: none;
}

.results-sort-item:active .title {
  color: var(--sort-text-focus);
  opacity: 1;
  border-bottom: none;
}

/* Sort buttons */

.results-sort-buttons {
  list-style: none;
  display: flex;
  gap: 12px;
  margin: 0;
  padding: 0;
  justify-self: end;
  padding-top: 7px;
}

.results-sort-button {
  margin-top: 0;
  margin-left: 11px;
  cursor: pointer;
}

.results-sort-button:hover svg path  {
  fill: var(--sort-button-hover);
}

.results-sort-button input:checked + svg path  {
  fill: var(--sort-button-active);
}

.results-sort-button:active svg path  {
  fill: var(--sort-button-focus);
}

.results-sort-button input:focus + svg {
  outline: var(--basic-black) solid 2px;
}

/* List of results */

.results-list {
  list-style: none;
  margin: 0;
  padding: 0;

}

.results-list-item {
  padding: 23px 73px 30px 73px;
  /* height: 90px; */
  display: grid;
  grid-template-rows: 33px 37px 27px;
  grid-template-columns: 135px 1fr 110px;
  column-gap: 29px;
  border-bottom: 1px solid var(--hotels-lines);
}

.results-list-item-photo {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: -1;
  margin-top: 7px;
}

.results-list-item h3 {
  margin: 0;
}

.results-list-item-name {
  font-size: 21px;
  line-height: 26px;
  align-items: center;
  font-weight: bold;
  margin: 0;
}

.results-list-item-info {
  margin-top: 0;
  display: flex;
  flex-direction: row;
}

.results-list-item-stars {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  justify-self: end;
}

.results-list-item-rate {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  justify-self: end;
}

.results-list-item-name:hover {
  color: var(--results-hotel-title-hover);
}

.results-list-item-name:active {
  color: var(--results-hotel-title-focus);
  opacity: 0.3;
}

.results-list-item-type,
.results-list-item-price {
  color: var(--results-text-gray);
  align-items: center;
}

.results-list-item-type {
  width: 107px;
}

.results-list-item-price {
  width: 96px;
  margin-left: 9px;
}

.results-list-item-buttons {
  display: flex;
  flex-direction: row;
}

.results-list-item-button-details {
  width: 110px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--results-button-text);
  font-weight: bold;
  align-items: center;
  background-color: var(--results-button-back-details);
}

.results-list-item-button-details:hover {
  background-color: var(--results-button-back-details-hover);
}

.results-list-item-button-details:active {
  background-color: var(--results-button-back-details-focus);
  color: var(--results-button-text-press);
}

.results-list-item-button-details:focus {
  outline: 2px solid var(--basic-black);
}

.results-list-item-button-book {
  width: 142px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--results-button-text);
  font-weight: bold;
  align-items: center;
  background-color: var(--results-button-back-book);
  margin-left: 6px;
}

.results-list-item-button-book:hover {
  background-color: var(--results-button-back-book-hover);
}

.results-list-item-button-book:active {
  background-color: var(--results-button-back-book-focus);
  opacity: 0.3;
}

.results-list-item-button-book:focus {
  outline: 2px solid var(--basic-black);
}

.results-list-item-stars {
  background-image: url(../img/star.svg);
  background-repeat: repeat-x;
  width: 95px;
  height: 17px;
  line-height: 20px;
  overflow: hidden;
  white-space: nowrap;
  font-size: 2px;
  color: transparent;
  margin-top: 6px;
}

.results-list-item-stars.four-stars {
  width: 96px;
  margin-right: -7px;
}

.results-list-item-stars.three-stars {
  width: 72px;
  margin-right: -7px;
}

.results-list-item-stars.two-stars {
  width: 48px;
  margin-right: -7px;
}


.results-list-item-rate {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 27px;
  margin: 0;
  color: var(--results-rate-text);
  background-color: var(--results-rate-back);
}

/* .results-list-item-rate {
  list-style: none;
} */



/* modal form */

.modal-search {
  position: absolute;
  top: 100%;
  bottom: auto;
  left: 0;
  right: 0;
  padding: 55px;
  background-color: var(--basic-white);
  box-shadow: 0px 7px 15px var(--modal-shadow);
}

.search-form {
  display: flex;
  flex-direction: column;
}

.form-item {
  display: flex;
  flex-direction: row;
  margin-top: 0px;
  margin-bottom: 29px;
  align-items: center;
}

.form-item .title {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  width: 112px;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;

}

.form-input {
  outline: none;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  height: 38px;
  background-color: var(--modal-input-back);
  border: none;
  padding: 0;
}

.form-input:hover {
  background-color: var(--modal-input-back-hover);
}

.form-input:focus {
  background-color: var(--modal-input-back-focus);
  outline: 2px solid var(--modal-input-border-focus);
}


.form-input-date {
  width: 346px;
  padding-left: 15px;
  position: relative;
}

.form-input-date::after {
  content: "";
  position: absolute;
  top: 7px;
  right: 8px;
  display: block;
  width: 21px;
  height: 23px;
  background-image: url(../img/calendar.svg);
}

.form-input-num {
  width: 114px;
  text-align: center;
}

.form-people {
  display: flex;
  flex-direction: row;
}

.form-people .form-item:last-child .title{
  width: 65px;
  margin-left: 53px;
}

.item-range {
  position: relative;
}

.num-button {
  display: flex;
  position: absolute;
  width: 38px;
  top: 0;
  bottom: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
}

.num-button:hover svg path,
.num-button:hover svg rect {
  fill: var(--modal-button-hover);
}

.num-button:active svg path,
.num-button:active svg rect {
  fill: var(--modal-button-press);
}

.num-down {
  left: 0px;
}

.num-up {
  right: 0px;
}

.form-button-submit {
  width: 100%;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  border: none;
  outline: none;
  color: var(--basic-white);
  background-color: var(--modal-search-back);
  margin-top: 25px;
  text-transform: uppercase;
}

.form-button-submit:hover {
  background-color: var(--modal-search-back-hover);
}

.form-button-submit:active {
  background-color: var(--modal-search-back-press);
  color: var(--modal-search-text-press);
}

.form-button-submit:focus {
  outline: var(--basic-black) solid 3px;
}

.modal {
  display: none;
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}




/* Animations */

@keyframes bounce {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
